
body{
	background-color: black;
}

.board{
	/*min-height: 96vh;
	width: 96vh;*/
    min-height: 72vh;
	width: 72vh;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.square {
    opacity: 0.7;
    min-height: 9vh;
    width: 9vh;
	text-align: center;
	display: inline-block;
	background-color: #f2dfb5;
	border-radius: 7px;
	border: 2px solid black;
	margin: 0px;
	
	line-height: 9vh;
	font-size: 7vh;
}
	.square:nth-child(-2n+8), 
	.square:nth-child(8) ~ .square:nth-child(-2n+15), 
	.square:nth-child(16) ~ .square:nth-child(-2n+24),
	.square:nth-child(24) ~ .square:nth-child(-2n+31),
	.square:nth-child(32) ~ .square:nth-child(-2n+40),
	.square:nth-child(40) ~ .square:nth-child(-2n+47),
	.square:nth-child(48) ~ .square:nth-child(-2n+56),
	.square:nth-child(56) ~ .square:nth-child(-2n+63) {
    background-color: #a8956d;
}

	.square:hover {
		box-shadow: 0 0 10px #fff187;
		border: 2px solid #fff187;
	}
	
.selected {
	box-shadow: 0 0 10px #82b1ff;
	border: 2px solid #82b1ff;
}

.selectable, .killable {
    opacity: 1;
}

.highlighted {
	box-shadow: 0 0 10px #8effc5;
	border: 2px solid #8effc5;
}

.killable {
	box-shadow: 0 0 10px #c60d00;
	border: 2px solid #c60d00;
}

.moves {
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    display: block;
    width: 20vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 50vw;
    overflow: scroll;
}
.captured {
    color: white;
    margin-top: 10px;
    margin-right: 10px;
    display:  inline-block;
    width: 20vw;
    position: absolute;
    top: 0;
    right: 0;
    text-align:right;
    font-size: 6vw;
    word-wrap:break-word;
}

.white-king:before {
    content: "\2654";
}
.white-queen:before {
    content: "\2655";
}
.white-rook:before {
    content: "\2656";
}
.white-bishop:before {
    content: "\2657";
}
.white-knight:before {
    content: "\2658";
}
.white-pawn:before {
    content: "\2659";
}
.black-king:before {
    content: "\265A";
}
.black-queen:before {
    content: "\265B";
}
.black-rook:before {
    content: "\265C";
}
.black-bishop:before {
    content: "\265D";
}
.black-knight:before {
    content: "\265E";
}
.black-pawn:before {
    content: "\265F";
}
.empty {
	color: transparent !important;
}
.empty:before {
	content: "\0000";
}